/*common shared styles*/
body{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.text-primary{
  color: #FD6E0A;
}
/*nav related styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
  display: flex;
  list-style: none;
  align-items: center;
}
nav li{
  margin-right: 50px;
}

nav a{
  text-decoration: none;
  color: #474747;
}
.btn-primary{
  border-radius: 5px;
  background-color: #FD6E0A;
  color: white;
  height: 60px;
  width: 120px;
  font-weight: 520;
  font-size: 17px;
  border: 0;
}
/*Header Related styles  */
 .Header{
  background-color: #FFF8F3;
}
.banner{
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.banner .profile-pic{
  width: 500px;

}