/*common shared styles*/
body{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.text-primary{
  color: #FD6E0A;
}
/*nav related styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 10px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
  display: flex;
  list-style: none;
  align-items: center;
}
nav li{
  margin-right: 50px;
}

nav a{
  text-decoration: none;
  color: #474747;
}
.btn-primary{
  border-radius: 5px;
  background-color: #FD6E0A;
  color: white;
  height: 60px;
  width: 120px;
  font-weight: 550;
  font-size: 15px;
  border: 0;
}
.section-title{
  color: #181818;
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-description{
  color: #474747;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
}
/*Header Related styles  */
 .Header{
  background-color: #FFF8F3;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner{
  padding: 30px 30px 0px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic{
  width: 500px;
}
.banner-content{
  max-width: 500px;
}
.banner-subtitle{
  font-size: 45px;
  margin-bottom: 0;
}
.banner-title{
  font-size: 85px;
  font-weight: 700;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 5px;
}

 /*main section styles  */

 /* about section styles */
 .about{
  padding: 130px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 120px;
 }